header {
  h1 {
    font-size: 28px;
    font-weight: 700;
  }
  p {
    color: grey;
    font-size: 14px;
    font-weight: 500;
  }
}

.card {
  border-top: 2px solid;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 30%;
  p {
    font-size: 16px;
    font-weight: 500;
  }
  span {
    font-weight: 700;
  }
}
