<div class="w-full rounded-md flex justify-between items-center p-4 bg-white">
  <p class="flex flex-col">
    {{ title }}
    <span>{{ description }} </span>
  </p>
  <div class="flex gap-3">
    <button class="export-btn rounded-md p-2 flex gap-2 items-center">
      <nz-icon
        nzType="cloud-download"
        nzTheme="outline"
        style="font-size: 14px; color: #1d1d1b"
      ></nz-icon>
      Export CVS
    </button>
    <button
      class="submit-btn rounded-md p-2 flex gap-2 items-center"
      *ngIf="showButton"
      (click)="isCreateClicked.emit()"
    >
      <nz-icon
        nzType="plus"
        nzTheme="outline"
        style="font-size: 12px; color: #fff"
      ></nz-icon>
      Create
    </button>
  </div>
</div>
